<% layout('layouts/boilerplate') %>
    <div class="container-fluid">
        <%- include("../partials/secondNav") %>
            <h1>
                New On CINEFLEX
            </h1>

            <div class="container-fluid d-flex justify-content-around align-items flex-wrap">
                <% for (let movie of latestMovies){%>
                    <%- include("../partials/movieCard",{movie}) %>
                        <% } %>
            </div>
    </div>